body {
  font-family: "Montserrat", sans-serif !important;
}

.accentWhite {
  color: #fefaf0;
}

.myPrimary {
  background-color: #01957d;
}
.primaryText {
  color: #01957d;
}
.mySecondary {
  color: #f0a501;
}
.blackText {
  color: #191919;
}
.customBackground {
  background-color: #fefaf0;
}
.cardStyles {
  border: none;
  border-radius: 20px;
}
.shadow.cardStyles.card {
  border-radius: 20px;
}
.partnerBtn, .partnerBtn:active {
  background-color: #fefaf0;
  color: #01957d;
  border: 1px solid #01957d;
}
.partnerBtn:hover {
  background-color: #01957d !important;
  color: #fefaf0 !important;
  border: none;
}
.pickupBtn {
  background-color: #01957d;
  display: inline-block;
  width: 200px;
  border: none;
  color: #fefaf0;
  margin-left: 25px;
}
.partnerWithBtn {
  background-color: #01957d;
  display: inline-block;
  width: 200px;
  border: 1px solid #01957d;
  color: #fefaf0;
}
.partnerWithBtn:hover {
  background-color: #ffffff;
  color: #01957d;
  border: 1px solid #01957d;
}
.trainingBtn {
  background-color: #fefaf0 !important;
  border: 1px solid #01957d !important;
  color: #01957d !important;
  width: 200px !important;
}
.pickupBtn:hover {
  background-color: #01957d !important;
  opacity: 70%;
}

.trainingBtn:hover {
  background-color: #01957d !important;
  color: #fefaf0 !important;
  opacity: 70%;
}
.heroHeight {
  min-height: 80vh;
  width: 100%;
  overflow: hidden;
}
.heroContainer {
  min-height: 100vh;
}
.customHeight {
  min-height: 30vh;
}
.imageHeight {
  object-fit: contain;
  width: 100%;
  height: 130px;
}
.mainImage {
  height: auto;
  max-width: 100%;
}
.partnersImage {
  height: 75%;
  max-width: 100%;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sdgImage {
  height: auto;
  max-width: 100%;
}
.volunteerText {
  max-width: 43%;
}
.toRightgradient {
  background: linear-gradient(to right, #fefaf0 53%, white 47%);
}
.toLeftgradient {
  background: linear-gradient(to left, #fefaf0 53%, white 47%);
}

@media (max-device-width: 1024px) {
  .toRightgradient {
    background: linear-gradient(to right, #fefaf0 50%, white 50%);
  }
  .toLeftgradient {
    background: linear-gradient(to left, #fefaf0 50%, white 50%);
  }
}
@media (max-width: 768px) {
  .volunteerText {
    max-width: 100%;
  }
  .toRightgradient {
    background: linear-gradient(to bottom, #fefaf0 62%, white 38%);
  }
  .toLeftgradient {
    background: linear-gradient(to top, #fefaf0 62%, white 38%);
  }
  .partnersImage {
    height: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .about_img { 
    width: 200px !important;
  }
}